* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: var(--font-sans);
  background:var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: inherit;
  text-decoration: none;
}
button,
input {
  font: inherit;
}
img,
video {
  display: block;
  max-width: 100%;
}
:focus-visible {
  outline: 2px solid rgba(168, 85, 247, 0.7);
  outline-offset: 2px;
}
