h1, 
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    padding: 10px 0;
    line-height: 1.5;
}

h1 {
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

h2 {
    font-size: var(--fs-6);
}

h6 {
    font-size: var(--fs-1);
}