@media (max-width: 768px) {
    .page,
    .sheet,
    .river__pad,
    .profile,
    .inbox__pad,
    .followers__pad,
    .profiles-portal__pad,
    .matches__pad,
    .connections__pad,
    .quiz-page,
    .quiz-portal,
    .quiz-results-page,
    .quiz__pad,
    .personality-portal,
    .conversation__header,
    .topBar__inner,
    .conversation__body,
    .conversation__composer {
      width: 98%;
      padding: 0 1%;
      margin: 0;
    }
}