.shell {
  height: 100dvh;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}
.stage {
  position: relative;
  height: 91vh;
  overflow-y: auto;
  touch-action: pan-y pan-x;
}
.bottomNav {
  height: 5.4vh;
}

.page,
.sheet,
.river__pad,
.profile,
.inbox__pad,
.followers__pad,
.profiles-portal__pad,
.matches__pad,
.connections__pad,
.quiz-page,
.quiz-portal,
.quiz-results-page,
.quiz__pad,
.personality-portal,
.conversation__header,
.topBar__inner,
.interests-portal,
.conversation__body,
.conversation__composer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: calc(var(--s-3));
  width: var(--page-width);
}
.hidden {
  display: none;
}